@font-face {
    font-family: "Fraunces";
    src: url("../assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}
@font-face {
    font-family: "Manrope";
    src: url("../assets/fonts/manrope/Manrope-VariableFont_wght.ttf");
}

header {
    background-color: var(--darkPurple);
    padding: 0;
    width: 100%;
    height: 730px;
    border-radius: 10% 10% 52% 52% / 0% 0% 5% 5%
}

.logo-acess-box {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 2.4% 0 0;
    align-items: center;
    
}
.logo-acess-box p {
    color: white;
    width: 140px;
    height: 35px;
    border-bottom: 3px solid var(--verdeAgua);
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-style: bold;
    line-height: 32px;
    letter-spacing: 1.1px;
    
  
    
}

.logo-acess-box p:active {
    color: var(--verdeAgua);
}
header #logo-principal {
    width: 96px;
    height: 25px;
   
  
}
.logo-left {
    background-color: coral;
}
.title-learn-button {
    height: 160;
    margin: 135px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: yellow; */
    position: relative;
    width: 100%;
}

.title-learn-button h1 {
    font-family: "Fraunces", serif;
    font-weight: 600;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    color: #fff;
    position: relative;
    /* border: 2px solid red; */
    width: 44.376%;
}

.line {
    border-bottom: 4px solid var(--verdeAgua);
    position: absolute;
    bottom: 69%;
    left: 45%;
    width: 16.4%;
    height: 3px;
}

.button-learn-more {
    text-decoration: none;
    color: var(--darkPurple);
    background-color: var(--verdeAgua);
    padding: 20px;
    margin: 37px 0 0 0;
    width: 161px;
    height: 61px;
    line-height: 32px;
    letter-spacing: -0.18px;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-learn-more:active {
    background-color: var(--darkPurple);
    border: solid var(--verdeAgua);
    color: var(--verdeAgua);
}
.telemovel {
    width: 52.848%;
    height: 440px;
    margin-top: 61px;
    /* border: 2px solid red; */
    margin-left: 25.07%;
    margin-right: 21.6%;
}

.telemovel img {
    width: 100%;
    height: 98%;
    z-index: 1000;
    max-width: 100%;
}

@media (max-width: 768px) {
    /* header {
        height: 540.24px;
    } */
    .logo-acess-box {
        padding: 5% 10% 0;
    }
    .title-learn-button  {
        
        margin: 100px auto 0;
        
    }

    .title-learn-button h1 {
        width: 573px;
        height: auto;
        font-size: 60px;
        line-height: 62px;
    }
    .line {
        bottom: 73%;
        width: 27.6%;
        left: 41.6%;
        
    }

    .button-learn-more {
        
    }
}
